<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DuplicateChecking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 项目版本1.0.0，Servlet实现 -->
<!--   <servlet> -->
<!--     <servlet-name>PageServlet</servlet-name> -->
<!--     <servlet-class>home.nust.paging.web.PageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PageServlet</servlet-name> -->
<!--     <url-pattern>/PageServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <servlet-name>IndexServlet</servlet-name> -->
<!--     <servlet-class>home.nust.paging.web.IndexServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>IndexServlet</servlet-name> -->
<!--     <url-pattern>/IndexServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <servlet-name>ChartServlet</servlet-name> -->
<!--     <servlet-class>home.nust.paging.web.ChartServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ChartServlet</servlet-name> -->
<!--     <url-pattern>/ChartServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <servlet-name>NgServlet</servlet-name> -->
<!--     <servlet-class>home.nust.paging.test.NgServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>NgServlet</servlet-name> -->
<!--     <url-pattern>/NgServlet</url-pattern> -->
<!--   </servlet-mapping> -->
	<!-- 版本1.0.0，Servlet实现 -->
  
  <!-- 项目1.0.1版本，基于Spring和Hibernate框架 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <servlet>
  		<servlet-name>springmvc</servlet-name>
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  		<init-param>
  			<param-name>contextConfigLocation</param-name>
  			<param-value>classpath:spring-mvc.xml</param-value>
  		</init-param>
  		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  		<servlet-name>springmvc</servlet-name>
  		<!-- 不能加/ -->
  		<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- openSessionInView,与getCurrentSession()有关 -->
  <filter>
  	<filter-name>openSessionInView</filter-name>
  	<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>openSessionInView</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>